@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: rgba(226, 199, 153, 0.8);
  font-family: 'Helvetica', 'Arial';
}

svg {
    display: block;
    font: 6.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 7px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #F2ECBE;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #C08261;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #FDB731;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #E2C799;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #9A3B3B;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #9A3B3B;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    color: #9A3B3B;
    font-family: 'Montserrat', 'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.2em;
    color: #B65420;
    font-family: 'Consolas', 'Courier', 'Montserrat';
}
p {
    font-size: 0.6em;
    font-weight: normal;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 0.9em;
    color: #C08261;
}
footer {
    border-top: 1px solid #F2ECBE;
    font-family: 'Montserrat', 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
